@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/** GLOBAL STYLE SHEET **/

body {
  font-family: 'Quicksand', sans-serif;
}

button:focus {
  outline: 0;
}

/*button {*/
/*border-radius: 5px;*/
/*margin-top: 8px;*/
/*height: 40px;*/
/*width: 120px;*/
/*font-weight: bold;*/
/*}*/
